@font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("fonts/TTLakes.woff2") format("woff2"), url("fonts/TTLakes.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("fonts/TTLakes-medium.woff2") format("woff2"), url("fonts/TTLakes-medium.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("fonts/TTLakes-bold.woff2") format("woff2"), url("fonts/TTLakes-bold.woff") format("woff");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {

    margin: 0;
    font-family: "TT Lakes", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #1B1C21;
}

.content {
    padding-top: 24px;
}

.main {
    position: relative;
    background-color: #F8F8F8;
}

.main__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px 35px;
}

.main__title {
    position: relative;
    max-width: 680px;
    margin: 0 0 24px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.main__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 8px;
    height: 40px;
    border-radius: 8px;
    background-color: #41F6D7;
}

.brands {
    padding-bottom: 24px;
}

.brands__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-transform: uppercase;
    padding: 16px 0;
    margin: 0 0 16px;
}

.brands__slider {
    margin-right: -16px;
    position: relative;
}

.brands__slider::before {
    content: '';
    position: absolute;
    top: -7px;
    right: 0;
    width: 24px;
    height: 81px;
    background: linear-gradient(270deg, #F8F8F8 0.04%, rgba(248, 248, 248, 0.00) 100%);
    z-index: 2;
}

.brands__list {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;
    position: relative;

}

.brands__item {
    position: relative;
    width: 240px;
    height: 72px;
    font-size: 0;
    line-height: 0;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: 16px center;
}

.brands__item--lenovo {
    background-image: url("images/icon-lenovo.png");
}

.brands__item--samsung {
    background-image: url("images/icon-samsung.png");
}

.brands__item--apple {
    background-image: url("images/icon-apple.png");
}

.brands__item--viewsonic {
    background-image: url("images/icon-viewsonic.png");
}

.brands__item--bosch {
    background-image: url("images/icon-bosch.png");
}

.brands__item--hp {
    background-image: url("images/icon-hp.png");
}

.brands__item--acer {
    background-image: url("images/icon-acer.png");
}

.brands__item--sony {
    background-image: url("images/icon-sony.png");
}

.brands__link {
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("images/icon-go.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
}

.brands__more-btn {
    display: none;
}

.swiper-pagination {
    position: static;
    margin-left: -8px;
    line-height: 0;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px;
    background-color: #DDDDDD;
    opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

@media (min-width: 768px) {
    .main__wrapper {
        padding: 0 24px;
    }

    .brands__title {
        margin-bottom: 24px;
    }

    .brands__slider {
        margin-right: 0;
    }

    .brands__slider::before {
        display: none;
    }

    .brands__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(224px, auto));
        gap: 16px 24px;
        margin-bottom: 24px;
    }

    .brands__item {
        width: 100%;
        box-sizing: border-box;
    }

    .brands__item--hidden {
        display: none;
    }

    .brands__more-btn {
        display: flex;
        margin: 0;
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: -0.2px;
        border: 0;
        background-color: transparent;
    }

    .brands__more-btn::before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        background-image: url("images/icon-more.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .brands__more-btn--up::before {
        transform: rotate(180deg);
    }
}

@media (min-width: 1440px) {
    .brands__list {
        grid-template-columns: repeat(4, minmax(240px, auto));
        gap: 16px 32px;
    }

    .main__wrapper {
        display: flex;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 49px;
    }

    .content {
        margin: 0 auto;
        padding: 42px 32px 0 32px;
    }
}