@font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("fonts/TTLakes.woff2") format("woff2"), url("fonts/TTLakes.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("fonts/TTLakes-medium.woff2") format("woff2"), url("fonts/TTLakes-medium.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("fonts/TTLakes-bold.woff2") format("woff2"), url("fonts/TTLakes-bold.woff") format("woff");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {

    margin: 0;
    font-family: "TT Lakes", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #1B1C21;
}

.round {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    transition: opacity 0.3s ease;
}

.round:hover {
    opacity: 0.7;
}



.main-nav,
.communication-menu,
.contacts,
.langs,
.search {
    display: none;
}

.left-column {
    display: flex;
    align-items: center;
    padding: 18.5px 130px 17px 0;
}

.left-column__top {
    display: flex;
    align-items: center;
}

.left-column__burger {
    margin-right: 18px;
}

.left-column--opened-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    padding: 18px 16px 32px;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
    overflow: auto;
}

.left-column--opened-menu .search,
.left-column--opened-menu .main-nav {
    display: block;
}

.left-column--opened-menu .left-column__top {
    justify-content: flex-start;
}

.left-column--opened-menu .burger__btn {
    background-image: url('images/icon-cross.svg');
}

.burger__btn {
    border: 0;
    font-size: 0;
    background-image: url(images/icon-burger.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo__icon {
    display: block;
}

.content {
    padding-top: 24px;
}

.search {
    margin-left: auto;
    font-size: 0;
    border: 0;
    background-image: url('images/icon-search.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.left-column--opened-menu .left-column__top {
    margin-bottom: 26px;
}

.main-nav__list {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    margin-bottom: 24px;
}

.main-nav__item--current {
    position: relative;
    color: #7e7e82;
}

.main-nav__item--current::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 8px;
    height: 133.33%;
    transform: translateY(-50%);
    background-color: #41F6D7;
    border-radius: 8px;
}

.main-nav__link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    transition: opacity 0.3 ease;
}

.main-nav__link:hover {
    opacity: 0.7;
}

.main-nav__item--current .main-nav__link {
    opacity: 1;
}

.left-column--opened-menu .communication-menu {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.communication-menu__item+.communication-menu__item {
    margin-left: 16px;
}

.communication-menu__link {
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.communication-menu__link--call {
    background-image: url('images/icon-phone.svg');
}

.communication-menu__link--feedback {
    background-image: url('images/icon-message.svg');
}

.communication-menu__link--profile {
    background-image: url('images/icon-user.svg');
}

.left-column--opened-menu .contacts {
    display: flex;
    flex-direction: column;
}

.contacts__mail,
.contacts__phone,
.langs__link {
    transition: opacity 0.3s ease;
}

.contacts__mail:hover,
.contacts__phone:hover,
.langs__link:hover {
    opacity: 0.7;
}

.langs__item--current .langs__link:hover {
    opacity: 1;
}

.contacts__mail {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.contacts__phone {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.6px;
}

.langs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.left-column--opened-menu .langs {
    display: flex;
}

.langs__link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

.langs__item+.langs__item {
    margin-left: 7px;
}

.langs__item--current {
    color: #7E7E82;
}


.main {
    position: relative;
    background-color: #F8F8F8;
}

.main__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px 35px;
}

.main__title {
    position: relative;
    max-width: 680px;
    margin: 0 0 24px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.main__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 8px;
    height: 40px;
    border-radius: 8px;
    background-color: #41F6D7;
}