.brands {
  padding-bottom: 24px;
  border-top: 1px solid #d9fff5;
}

.brands__wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.brands__title {
  @include title;
}

.brands__slider {
  margin-right: -16px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -7px;
    right: 0;
    width: 24px;
    height: 81px;
    background: linear-gradient(270deg,
        #f8f8f8 0.04%,
        rgba(248, 248, 248, 0) 100%);
    z-index: 2;
  }
}

.brands__list {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
  position: relative;
}

.brands__item {
  position: relative;
  width: 240px;
  height: 72px;
  font-size: 0;
  line-height: 0;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 16px center;

  &--lenovo {
    background-image: url('../img/icon-lenovo.png');
  }

  &--samsung {
    background-image: url('../img/icon-samsung.png');
  }

  &--apple {
    background-image: url('../img/icon-apple.png');
  }

  &--viewsonic {
    background-image: url('../img/icon-viewsonic.png');
  }

  &--bosch {
    background-image: url('../img/icon-bosch.png');
  }

  &--hp {
    background-image: url('../img/icon-hp.png');
  }

  &--acer {
    background-image: url('../img/icon-acer.png');
  }

  &--sony {
    background-image: url('../img/icon-sony.png');
  }
}

.brands__link {
  @include arrow-link;
  top: 50%;
  right: 16px;
  background-position: center;
  transform: translateY(-50%);
}

.brands__pagination {
  text-align: center;
  margin-left: -8px;
}

.brands__more-btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .brands__wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  .brands__title {
    margin-bottom: 24px;
  }

  .brands__slider {
    margin-right: 0;

    &::before {
      display: none;
    }
  }

  .brands__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(224px, auto));
    gap: 16px 24px;
    margin-bottom: 24px;
  }

  .brands__item {
    width: 100%;
    box-sizing: border-box;

    &--hidden {
      display: none;
    }
  }

  .brands__more-btn {
    display: flex;
    margin: 0;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    border: 0;
    background-color: transparent;

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background-image: url('../img/icon-more.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .brands__wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }

  .brands__list {
    grid-template-columns: repeat(4, minmax(240px, auto));
    gap: 16px 32px;
  }

  .brands__link {
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-50%) scale(1.2);
    }
  }

  .brands__more-btn {
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.55;
    }
  }
}