.left-column--opened-menu .communication-menu {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.communication-menu {
  display: none;
}
.communication-menu__item + .communication-menu__item {
  margin-left: 16px;
}
.communication-menu__link {
  font-size: 0;
  line-height: 0;
  &::after {
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--call {
    &::after {
      background-image: url('../img/icon-phone.svg');
    }
  }
  &--feedback {
    &::after {
      background-image: url('../img/icon-message.svg');
    }
  }
  &--profile {
    &::after {
      background-image: url('../img/icon-user.svg');
    }
  }
}

@media (min-width: $tablet-width) {
  .communication-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
  }
  .communication-menu__item {
    margin-left: 16px;
  }
  .left-column--opened-menu .communication-menu {
    margin-top: auto;
  }
  .left-column--opened-menu .communication-menu__item {
    &:first-child {
      margin-left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .communication-menu {
    margin-bottom: 16px;
  }
  .communication-menu__item {
    margin-left: 0;
  }
  .communication-menu__item + .communication-menu__item {
    margin-left: 16px;
  }
}
