.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background-color: #dddddd;
  opacity: 1;
}
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
